{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div align=center>
<h3>Login</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-success ml-2" type="submit">Login</button>
</form>
<p></p>

<p>Note: log in with username="admin", password="thankmrgoose." <br> Note: sign up and change password functions have been disabled.</p>
{% endblock %}