{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock %}

{% block content %}
  <h3 align=center>Password change</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success disabled" type="submit" value="Change my password">
  </form>
  <p>Note: log in with username="admin", password="thankmrgoose." <br> Note: sign up and change password functions have been disabled.</p>
{% endblock %}