<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}URL Organizer{% endblock title %}</title>
    <style>
    body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    /*
    td:hover {background-color: #f5f5f5;}
    tr:nth-child(odd) {background-color: #f2f2f2;}
    th {
      color: black;
      padding: 10px;
      text-align: center;
    }
    td {
      padding: 10px;
      text-align: center;
    }
    */
    h3 { padding-bottom: 20px;}
    h3:after{
      border-bottom: 1px solid #2f2f2f;
        content: '';
        width: 100px;
        display: block;
        margin: 0 auto;
        height: 1px;
    }

    th { font-size: 19px; border-top: none;}
    .datagrid table { 
      border-top: none;
      border-collapse: collapse; 
      width: 100%; 
      text-align: center; 
      padding: 5px 5px; 
      font-family:Georgia, 'Times New Roman', Times, serif;
    } 
    /*.datagrid {font-family: Georgia, Times New Roman, Times, serif; background: #fff; overflow: hidden; }
    .datagrid table td, .datagrid table th { text-align: center; padding: 5px 5px; }
    .datagrid table tbody td { color:#2f2f2f; font-weight: normal; }*/
    tr:hover {background-color: #f2f2f2;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% url 'home' %}"><b>URL Organizer</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="http://david-duan.me">Author</a>
            <li class="nav-item"> <a class="nav-link" href="https://github.com/rootofallevii">Github</a>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                
                <!-- disable change password-->
                <a class="dropdown-item" href="{% url 'password_change' %}"><strike>Change password</strike></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
          </ul>
        {% else %}
          <form class="form-inline ml-auto">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>

            <!-- disable sign up -->
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2"><strike>Sign up</strike></a>
          </form>
        {% endif %}
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>