<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div align="center" style="font-size: 20px"><em>Hello {{ user.username }}! Get organized. Work smarter.</em></div>
<div style="margin-bottom: 20px"></div>
<div align="center" style="overflow-x:auto;" class="datagrid">
<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Tag</th>
			<th>URL</th>
			<th><a href="{% url 'link_new' %}">New</a></th>
		</tr>
	</thead>
	<tbody>
	{% for link in object_list %}
	<tr>
		<td><a href="{% url 'link_detail' link.pk %}">{{ link.title }}</a></td>
		<td>{{ link.tag }}</td>
		<td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
		<td><a href="{% url 'link_edit' link.pk %}">Edit</a> |
			<a href="{% url 'link_delete' link.pk %}">Delete</a></td>
	</tr>
	{%  endfor %}
	</tbody>
</table>
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a> |
<a href="{% url 'signup' %}">signup</a>
{% endif %}
{% endblock %}