<!-- templates/post_delete.html -->
{% extends 'base.html' %}
{% block content %}
<div align=center>
	<h3>Delete post</h3>
		<form action="" method="post">{% csrf_token %}
		<p>Are you sure you want to delete "{{ link.title }}"?</p>
		<input class="btn btn-success ml-2" type="submit" value="Confirm" />
		</form>
</div>
{% endblock %}
