<!-- template/link_new.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div>
	<h3 align=center>New Link</h3>
	<form action="" method="post">{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" value="Save" />
	</form>
</div>
{% endblock %}
