<!-- templates/post_edit.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h3 align=center>Edit Link</h3>
	<form action="" method="post">{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-success ml-2" type="submit" value="Update" />
	</form>
{% endblock %}
