<!-- templates/link_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class='link-entry'>
	<h3 align=center>Link Detail</h3>
	<p></p>
	<p><b>Title: {{ link.title }}</b></p>
	<p><b>Created</b>: {{ link.created }}</p>
	<p><b>Updated</b>: {{ link.updated }}</p>
	<p><b>Tag</b>: {{ link.tag }}</p>
	<p><b>URL</b>: <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
	<p><b>Comment</b>: {{ link.comment }}</p>
</div>

<p><a href="{% url 'link_edit' link.pk %}">+ Edit Link</a></p>
<p><a href="{% url 'link_delete' link.pk %}">+ Delete Link</a></p>
<p><a href="{% url 'link_new' %}">+ New Link</a></p>
<p><a href="{% url 'home' %}">+ Homepage</a></p>
{% endblock content %}
