<!-- templates/signup.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<h3 align=center>Sign up</h3>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-success disabled" type="submit">Sign up</button>
	</form>

<p>Note: log in with username="admin", password="thankmrgoose." <br> Note: sign up and change password functions have been disabled.</p>
{% endblock content %}
